
* {
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  -webkit-touch-callout: none;
  user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: #777; */
    /* 禁止选中文本 */
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.codebox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 100%;
  border: 0px;
  box-shadow: 0 0 0 2px #999 inset;
  padding: 3px 7px;
}

.box {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.status {
    text-align:center;
    margin-top: 15px;
}

.main-box {
    background-color: white;
    font-family: 'Noto Sans SC',arial, sans-serif;
    border-radius: 8px;
    margin: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 60vw;
    min-width: 300px;
    max-width: 900px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.main-font {
  font-size: 28px;
  text-align: center;
  text-shadow: -2px 4px 6px #848484;
}

p {
  display: block;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

@media screen and (max-width: 1200px) {
  /* 小于1200像素 */
  .main-font {
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (max-width: 764px) {
  /* 小于764像素 */
  .main-font {
    font-size: 22px;
    text-align: center;
  }
}
