
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-color: #777; */
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}


.box {
    top:15%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.status {
    text-align:center;
    margin-top: 15px;
}

.main-box {
    background-color: white;
    font-family: 'Noto Sans SC',arial, sans-serif;
    border-radius: 8px;
    margin: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 60vw;
    min-width: 300px;
    max-width: 900px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.main-font {
  font-size: 28px;
  text-align: center;
  text-shadow: -2px 4px 6px #848484;
}



@media screen and (max-width: 1200px) {
  /* 小于1200像素 */
  .main-font {
    font-size: 26px;
    text-align: center;
  }
  .box {
    top: 10%;
  }
}
@media screen and (max-width: 764px) {
  /* 小于764像素 */
  .main-font {
    font-size: 22px;
    text-align: center;
  }
  .box {
    top: auto;
  }
}



